body{
    background-color:blue;
    color: aliceblue;
}
h2{
    color:green;
}
a{
    color: brown;
}
.header{
text-align: center;
}
.footer {
    background-color: #11244d;
    text-align: center;
}
.blog {
width: 600px;
margin: 0 auto;
}